.menu{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    background-color: whitesmoke;
}

.botonera{
    margin-bottom: 15px;
    list-style: none;
}

.botonera li {
    display: inline;
    padding: 10px;
}